body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #ccc;
    width: 300px;
    text-align: center;
  }
  
  input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  